<amplify-authenticator>
  <div>
    <h1>AWS勉強会②アンケート</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        氏名：<input type="text" formControlName="name" />
      </div>
      <div>
        <h2>Q1.今回の勉強会の内容は理解できましたか</h2>
        <input type="text" style="width: 90%;" formControlName="ans1" />
      </div>
      <div>
        <h2>Q2.次回も受けたいと思いますか？</h2>
        <input type="text" style="width: 90%;" formControlName="ans2" />
      </div>
      <div style="margin: 10px;"><button>送信</button></div>
    </form>
    <h2>回答一覧</h2>
    <table class="table" border="1" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th>名前</th>
          <th>回答1</th>
          <th>回答2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of questions">
          <td>{{q.name}}</td>
          <td>{{q.ans1}}</td>
          <td>{{q.ans2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <amplify-sign-out></amplify-sign-out>
</amplify-authenticator>